[2013-11-14 11:52] artad opened #1 "checkRule всегда возвращает TRUE если нет правила"
Если нет юзерагента или правила для юзерагента, то функция checkRule всегда возвращает TRUE. Это нормально для функции isAllowed, но ненормально для функции isDisallowed.

[2014-01-22 15:48] #1 closed, assigned to t1gor

[2014-02-28 11:50] troelskn opened #4 "Crawl-Delay not supported"
Hi,

Nice class. I doesn't recognise the directive for `Crawl-Delay` though. (See: http://en.wikipedia.org/wiki/Robots_exclusion_standard#Crawl-delay_directive and https://ahrefs.com/robot/)

[2014-02-28 13:57] #4 closed, assigned to t1gor

[2014-04-04 11:01] rasstroen opened #6 "If empty file on construct"
there is 2 bug. Check if file is empty, please

[2014-07-09 11:06] #6 closed, assigned to t1gor

[2014-09-12 20:20] SpiderBro opened #10 "Issue with robots.txt wildcards/end anchors"
The following robots.txt will be interpreted by the class as denying everything:

User-Agent: *
Disallow: /*
Allow: /$

However, Google will interpret this (correctly) as allowing the homepage only.

I wonder if it's possible to update the class to correctly interpret these rules?

Thanks!

[2014-10-21 19:33] Nyx-G opened #12 "preg_match - fails for rules containing @"
The regex on line 389 fails for certain rules - I believe those containing an @ symbol (which do occur 'in the wild'). I think preg_quote would be the solution:

`if (preg_match('@'.$robotRule.'@', $value)) {`

=>

`if (preg_match('@'.preg_quote($robotRule,'@').'@', $value)) {`

[2014-10-29 10:36] #12 closed, assigned to t1gor

[2014-11-02 13:10] Esowteric opened #14 "checkRule(): preg_quote() and dot star wildcard"
Hi, I have a very simple test:
User-agent: *
Allow: /
And I'm testing with the URL /

The allow rule is changed to /dot star, but when it is passed through preg_quote(), the dot and star are both escaped with backslashes, and preg_match() in checkRule() returns false.

If you take the rule/pattern and change the backslashed dot star back to .* (using str_replace()) just before preg_match(), preg_m

[2014-11-25 12:40] t1gor opened #16 "Some more ideas"
- Add a method for getting the rules, but not a public array. Should return iterator
- Use iterators for matching rules
- Disassemble directives to a separate classes - if anyone has any design ideas - please fee free to comment here or contact me directly - igor.timoshenkov@gmail.com
- Raise coverage up to 50% (min)
- [GA for repo](https://github.com/igrigorik/ga-beacon)

[2014-12-02 12:44] bopoda opened #17 "Clean-param parse"
Need parse Clean-param value.
for example site http://www.aquaphor.ru/robots.txt

Also, can you make public method to get all rules? for example try http://xbb.uz/web/robots.txt (Xbb_RobotsTxt->getDirectives())

[2015-06-05 14:12] stanislav-reshetnev opened #20 "Correct $url argument"
Please rename $url argument of RobotsTxtParser::isAllowed().
It's not URL but URL-path. We need to pass the path part of URL, not whole URL.

For example, we have the rule:
Disallow: /
It will be converted to 'rules' => ('disallow' => '/.*')
And if we wll pass $url = 'http://domain.com/path/file' to isAllowed(), it wouldn't work properly.
Or You must detect URLs with protocol and hostname assigned

[2015-06-05 14:22] #20 closed

[2015-06-14 20:39] barryvdh opened #21 "SemVer versioning"
Thanks for creating this tool. I understand its still in alpha status, but would you consider following SemVer and adding a branch alias?

For example, tag 0.1.0 with the current codebase, and add 0.1-dev as branch alias in your composer.json file. If you change the public API, upgrade to 0.2.x.

This way, we don't get in trouble with big changes :)

[2015-06-15 06:52] t1gor commented on #21
Hi, @barryvdh.

Thanks for this note, definitely worth doing :+1:

[2015-06-15 07:10] t1gor commented on #21
Ok, I created a release and added a branch alias.

https://packagist.org/packages/t1gor/robots-txt-parser#dev-master

Is that what you've been asking for?

[2015-06-15 10:23] barryvdh commented on #21
Ehh, not exactly. I would have probably used 0.1.0 instead of 0.0.1, bit more common.
But I guess people can require 0.0.x now. And instead of `0.0.1.x-dev`, you could use `0.0-dev` (or `0.1-dev` for 0.1). Now people have to use `0.0.1.x`, that's a bit unusual.
And you don't need to tag dev versions (with -dev), just the normale releases (`0.1.0`, `0.1.1` etc, or `0.2-alpha`, `0.2-beta` if you mus

[2015-06-16 08:29] t1gor commented on #21
Aha, ok - thanks. This is a bit new for me :)

[2015-06-16 08:29] #21 closed

[2015-09-03 14:48] nejtr0n opened #22 "не обрабатывает правила"
Пример
require_once 'src/autoload.php';
$robots_old = new \RobotsTxtParser(file_get_contents('robots.txt'));
var_dump($robots_old->isAllowed("/index"));
var_dump($robots_old->isDisallowed("/index"));

Фаил robots.txt
User-Agent: *
Disallow: /

Результат
bool(false)
bool(false)

[2015-09-11 16:29] JanPetterMG commented on #22
Hi, I always gets the same result, no matter wich path or robots.txt file I'm trying on. It has been like this since I first tested this script 2 months ago.
It's possible its just me, but all tests I have done, since the first time, shows the same result, isAllowed=false and isDisallowed=false.
PHP 5.6.7-1 (cli) (built: Mar 24 2015 12:30:15)

[2015-09-20 14:54] JanPetterMG commented on #22
Is there any workaround, or earlier versions that I can test? I have tried investigate the master code, but my php skills isn't good enough to find the problem.
I have also tried the v1.0.0 code, it's a bit more complicated, and I don't understand how to use it. Do you have an example?
Does it work in any earlier php versions? I'm running php 5.6.7-1.

[2015-09-21 08:00] t1gor commented on #22
Hi, @JanPetterMG . Seems like I have broken something within the package ... as I don't have much time lately to fix it, I suggest you choose some of the earlier revisions of the script, like this: https://github.com/t1gor/Robots.txt-Parser-Class/tree/11afc63786961e5b1213c48aa2646157d13c342d

Please try that and let me know if it works.

[2015-09-21 08:29] DrakeES opened #23 "Empty robots.txt should allow everything"
Should not the following produce `bool(true)` at all times?
[code]
It is currently producing `bool(false)` :(

[2015-09-25 16:02] t1gor commented on #22
Ok, the issue should be fixed now. I also created a test for that - https://github.com/t1gor/Robots.txt-Parser-Class/blob/master/test/cases/DisallowAll.php

Please feel free to add anything you consider relevant. It would also help if you could confirm is the fix is verified.

[2015-09-25 16:07] t1gor commented on #14
@Esowteric, sorry for not getting back to you on this for so long. Now the issue should be fixed: I changed the `preg_quote` to `strtr`: https://github.com/t1gor/Robots.txt-Parser-Class/blob/master/source/robotstxtparser.php#L513

Would be cool if you could confirm fix.

[2015-09-25 16:08] t1gor commented on #23
@DrakeES [this](https://github.com/t1gor/Robots.txt-Parser-Class/blob/master/source/robotstxtparser.php#L499) should have fixed the issue. Could you please confirm that?

[2015-09-26 18:52] JanPetterMG commented on #22
I have done some testing of older versions of this parser script, but haven't any of them to work at all, even the first version ever released, did not work. I guess they were not php 5.6 compatible.

The good news is that I now can confirm its working in some cases, but not all.

////////// Example 1: Not working //////////
User-Agent: *
Disallow: /admin/

require_once(dirname(__FILE__) . "/vendo

[2015-09-26 19:47] JanPetterMG commented on #23
@t1gor I can confirm this issue now is fixed.

$parser = new RobotsTxtParser("");
var_dump($parser->isDisallowed("/"));
bool(false)
var_dump($parser->isAllowed("/"));
bool(true)

[2015-09-26 19:50] t1gor commented on #23
@JanPetterMG thanks!

[2015-09-26 19:50] #23 closed

[2015-09-26 19:51] t1gor commented on #22
@JanPetterMG ok, thanks for the test input. I will submit some more code shortly

[2015-09-26 20:13] JanPetterMG commented on #14
@t1gor Confirmed, also this issue is now fixed.

User-Agent: *
Allow: /

require_once("/vendor/autoload.php");
$parser = new RobotsTxtParser(file_get_contents("robots.txt"));

var_dump($parser->isDisallowed("/"));
bool(false)
var_dump($parser->isAllowed("/"));
bool(true)

[2015-09-26 21:16] JanPetterMG commented on #23
I think there is a unexpected problem, which complicates everything a little bit. I just discovered a robots.txt file that only contains sitemaps. It's as far as I know a rare case, so no big deal really, but it shuld be fixed some day... (low priority).

Example robots.txt file:
[code]
[code]
Source robots.txt file, where I discovered this: http://www.nettavisen.no/robots.txt

[2015-09-26 22:14] JanPetterMG opened #24 "Suggestion: Return null if rule parsing error?"
Sometimes, when the robots.txt file cannot be parsed properly, we get problematic results. This may happen on bad robots.txt files, and doesn't always mean there is a issue with the code.

For example:
    isAllowed('/') = (bool) false
and
    isDisallowed('/') = (bool) false

For now, the only way to check for errors, is to check both isAllowed and isDisallowed and then verify if the results look

[2015-09-26 23:50] JanPetterMG commented on #24
#25

[2015-09-27 01:43] JanPetterMG opened #27 "Sitemap shuld be useragent independent"
According to Google, sitemaps is a "non-group-member" record.
This means no matter where sitemaps are placed in a robots.txt file, it shuld not be grouped by any useragent, its actually completely independent.
Source: https://developers.google.com/webmasters/control-crawl-index/docs/robots_txt#google-supported-non-group-member-records

[code]
The above robots.txt file returns only 2 sitemaps, inst

[2015-09-30 22:25] JanPetterMG opened #29 "iconv(): Detected an illegal character in input string"
Notice: iconv(): Detected an illegal character in input string in .../vendor/t1gor/robots-txt-parser/source/robotstxtparser.php on line 67

[code]

I'm not sure, but may this be one of the reasons why the parsing fails? incorrect character set?
Unfortunately, I don't know witch robots.txt file this happen on (not yet), it just popped up in the logs (happens about 10-20 times a day or so, while par

[2015-10-12 11:31] #14 closed

[2015-10-12 11:33] t1gor commented on #24
I would rather go with throwing an Exception if the file is bad, but I guess for now null is ok. As already commented on the pull request - please fix the test also. Otherwise - the code looks ok :+1: thanks for the effort!

[2015-10-12 14:50] JanPetterMG commented on #24
I agree, better to throw an exception. I just updated my own code locally, and I'll submit it once I get PHPUnit up and running. Newer used it before, so it may take some time to figure out how it works. (im not a pro, just a hobby developer)...

[2015-10-15 16:55] t1gor commented on #24
Ok. Should be merged. Can we close this?

[2015-10-15 17:30] JanPetterMG commented on #24
Yup, now it's all good :)

[2015-10-15 17:30] #24 closed

[2015-10-15 19:30] #27 closed

[2015-10-16 21:12] JanPetterMG commented on #22
Does anyone know why this simple example does not work?
```$parser->isDisallowed("/path/")``` returns ```fatal error```. (```isAllowed``` equals ```isDisallowed```)
Test against ```/admin/``` is disallowed, but ```/path/``` fails...

[code]

[code]

[2015-10-19 13:04] t1gor commented on #22
@JanPetterMG might be the regex, need to check ...

[2015-11-01 18:39] hbea2014 opened #30 "Problem with multiple rules (allow then disallow)"
I was testing your parser and I noticed this:

[code]

[2015-11-01 20:40] JanPetterMG commented on #30
I tested the exact same code, and I got a different result.
[code]

Are you sure you are using the most recent version? Changes were committed about 2-3 weeks ago, with lots of bugs fixed...

Try downloading the source php file directly, the zip files in the release section are outdated...
https://github.com/t1gor/Robots.txt-Parser-Class/blob/master/source/robotstxtparser.php
Alternatively downloa

[2015-11-23 18:25] JanPetterMG opened #34 "User-agent directives is merged"
I can't seem to find the problem yet, but I'm pretty sure the checkRule function itself is not the case here.

Example robots.txt
[code]

[code]

Returns ````bool(false)````
Shuld return ````bool(true)````

According to Google's robots.txt tester, the ````/temp```` path is allowed for googlebot only (in this case)...

I discovered this in the EmptyDisallow.php test, after fixing it (was bugged). F

[2015-11-24 18:10] JanPetterMG commented on #34
Fixed with upcoming bug-fix #35. Closing this issue.

[2015-11-24 18:10] #34 closed

[2015-11-24 20:21] JanPetterMG commented on #29
After I started pre-converting all content to UTF-8, this problem disappeared completely.

I'm using neitanod's Encoding::toUTF8() function, pre-converting everything before it even is handed over to the robots.txt parser. Link to neitanod/forceutf8: https://github.com/neitanod/forceutf8
With this one, we don't even need to know witch encoding the file is using. Also it has the ability to fix "dou

[2015-11-29 00:10] JanPetterMG opened #36 "How to get Crawl-delay ??"
It seems like there is no way to get the crawl-delay. There is functions handling this directive in the script, but no way (as far as I know) to get it without parsing the ````getRules()```` output.

[2015-11-29 00:16] JanPetterMG opened #37 "New directive: Cache-delay"
We need a new directive for ````Cache-delay````.

It's pretty much identical to Crawl-delay, but often has a higher delay (where both exists).

[2015-12-02 22:35] JanPetterMG commented on #36
The only way so far, is this:
```` $parser->rules['googlebot']['crawl-delay'] ````

It works, but it's a bad solution. What if there is no directive for ```` googlebot ```` what then? It may still exist one for ```` * ```` (any), but the script doesn't check for it. The only way is to parse all rules in a 3rd party script, only that way you can make sure you handle the robots.txt crawl-delay direc

[2015-12-02 22:48] JanPetterMG opened #40 "Order of precedence for user-agents"
Source: https://developers.google.com/webmasters/control-crawl-index/docs/robots_txt#order-of-precedence-for-user-agents

```` Only one group of group-member records is valid for a particular crawler. The crawler must determine the correct group of records by finding the group with the most specific user-agent that still matches. (...) All non-matching text is ignored (for example, both googlebot/

[2015-12-08 19:09] JanPetterMG opened #41 "Feature request: Handling HTTP result codes"
A blank HTTP response isn't always a "full allow", that actually depends on the HTTP status code. The Robots.txt-Parser-Class does simply return "full allow" if no valid robots.txt file is found.

**5xx (server error)**
Server errors are seen as temporary errors that result in a "full disallow" of crawling. The request is retried until a non-server-error HTTP result code is obtained. A 503 (Servic

[2015-12-14 15:38] #37 closed

[2015-12-14 15:38] #36 closed

[2015-12-15 17:14] t1gor commented on #37
Can you provide some docs on the one? I couldn't find any mentions ...

[2015-12-15 19:50] JanPetterMG commented on #37
I couldn't find much docs on this one me either, but I'm pretty sure the cache-delay is handled the same way crawl-delay is.

My guess: The difference is what kind of robot scanning the page, is it caching a whole page (including all content, like a web browser), or is it just crawling one URL at a time. You could see it like crawling an extra 10-50 or maybe even more URLs at the same time, demand

[2015-12-21 11:21] JanPetterMG opened #43 "Build failing, missing fix #42"
The build is failing !!!
Pull request #42 not merged (by a mistake?).

I did warn about this long time ago, also in the pull request caused the build to fail, but seems like that warning has been ignored...

[2015-12-22 10:00] t1gor commented on #43
Merged ... should bet back to green now

[2015-12-22 10:00] #43 closed

[2015-12-22 10:04] t1gor commented on #41
Hi, @JanPetterMG.

Sorry for not being there for you lately :( hate myself for that.

I actually had a plan to re-design the lib code (you can see an attempt here: https://github.com/t1gor/Robots.txt-Parser-Class/tree/v1.0.0). It's not yet done, thought, as a lot of things I have started so far.

How about having a discussion on what you would like to see, setting the milestones and doing minor re

[2015-12-22 14:34] JanPetterMG commented on #30
I'll guess we can close this?
Please re-open if you encounter any more problems.

[2015-12-22 14:34] #30 closed

[2015-12-22 14:38] JanPetterMG commented on #29
Closing this issue, if anyone ever get the same problem, do something like this:
[code]
https://github.com/neitanod/forceutf8

[2015-12-22 14:38] #29 closed

[2015-12-22 14:51] JanPetterMG commented on #22
I think we could close this one?
Fix implemented and everything looks good.
Please re-open if anyone encounter more problems.

[2015-12-22 14:51] #22 closed

[2015-12-22 15:42] JanPetterMG commented on #41
Thanks for adding me to this project, I really appreciate it :+1: :100:

I haven't looked at the v.1.0.0 code for decades, fixing issues always has been top priority.
The new structure is definitely needed, as the current code are getting a bit large for a single file. If you could build up the main structure. Then I can do what I'm best at, fixing issues and build functionality. Building classes

[2015-12-23 10:41] t1gor commented on #41
:) no problem, thanks for helping out!

Regarding the fetcher - in v1.0.0 I've introduced the `Content` classes, that are responsible for providing content to the parser. By default it should probably be [`StringContent`](https://github.com/t1gor/Robots.txt-Parser-Class/blob/v1.0.0/source/Content/StringContent.php), but I also have examples of [`EmptyContent`](https://github.com/t1gor/Robots.txt-P

[2015-12-24 12:14] JanPetterMG commented on #41
Agree!
How does this v1.0.0 branch work? Is it just splitting existing code into multiple classes, or is there bigger changes in the way it works? I'll see it's 5 months since last update, and a lot has happen since that...

[2015-12-25 22:47] #40 closed

[2015-12-25 22:48] #41 closed

[2015-12-26 02:34] JanPetterMG commented on #10
This is a hard one for sure!

[code]

From the ````checkRule()```` function:
[code]
The ````checkRule()```` function, and regex in general is way out of my comfort zone, but I'll look into it. No guarantees!

[2015-12-26 04:26] JanPetterMG commented on #17
Is there any information about ````Clean-param```` available in English ?
I get the idea of what it does, but I think it's best to know every aspect of what it's intended to do before I write any code...
Unfortunately Google Translate isn't reliable...

Also, do you have an list of URLs to robots.txt files where it's used?
May this be on a single web-page, or is this something that is being used a

[2015-12-26 04:29] #10 closed

[2015-12-30 09:28] SheemaGul commented on #16
I Want To Validate Robots.txt Syntax...Kindly Explain This Coding ???!

<?php
    require_once('robotstxtparser.php');
    $parser = new RobotsTxtParser(file_get_contents('http://example.com/robots.txt'));
    $parser->setHttpStatusCode(200); // optional
    var_dump($parser->isDisallowed('/someurl', 'useragent'));
    var_dump($parser->isAllowed('/someotherurl.html', 'useragent'));
    var_dump($

[2015-12-30 13:16] JanPetterMG commented on #16
The last line should be like this:
print_r($parser->getRules());

We need a better example, possibly multiple, showing the different abilities.
Stay tuned, I'll fix it

[2015-12-31 09:41] SheemaGul commented on #16
Thank You So Much...!
But I Have Another Problem Related To This...
I Want To Validate Robots.txt Syntax According To This Folder... Kindly Help Me To Parse The Syntax... The Right Syntax For Robots.txt Or Error Will Be Display In The 2nd Textarea(robots-checker.php)...
[(form.htm)
(robots.js)
(robots-checker.php)
(validate.js)]

[form.txt](https://github.com/t1gor/Robots.txt-Parser-Class/files/75

[2015-12-31 09:56] SheemaGul commented on #16
I Found 1 Error In Your Code((t1gor/Robots.txt-Parser-Class))
On Line 439:
$stripped = explode($delimiter, $userAgent, 2)[0];
The Correct Syntax May Be Including This One:
$stripped = explode( $delimiter, $userAgent,2); $stripped= $stripped[0];

[2015-12-31 11:50] Muskaan2015 commented on #16
A.O.A!!!!!!!!!!
I want to parse Robots.txt with url that is entered in text box than when i click on Submit button, the following url validate its robots.txt file and show me errors line by line on my page.
kindly help to solve this problem.
i also read and apply your code but its not working in my code my form file is:
[Form.txt](https://github.com/t1gor/Robots.txt-Parser-Class/files/75508/Form.t

[2015-12-31 16:20] JanPetterMG commented on #16
@SheemaGul That's no error, it is a valid php 5.4 syntax.
Also the tests did pass, no errors found.
Take a look here: http://php.net/manual/en/migration54.new-features.php

[2016-01-01 05:46] SheemaGul commented on #16
Alright...
I Think It's The Problem Of My Wampserver. It Doesn't Support php 5.4 syntax...!

[2016-01-01 07:26] JanPetterMG commented on #16
Then you really should update your servers... Also PHP 7 is here.
PHP 5.3 has been **End of Life** since 14 Aug 2014, about 1 year, 4 months ago.
Feel free to open a pull request with the fix.

[2016-01-02 12:05] JanPetterMG commented on #16
@t1gor Any schedule for the v1.x rewrite?
I would love to contribute more, but right now I have some issues seeing how it all fits together. Personally I think it is a lot more complicated than the v0.x code (at least now, when it doesn't do anything), but the fact is I'm just a hobby developer, so that's probably explains why...
I would really appreciate it if you could take a look at it, even if

[2016-01-04 05:35] SheemaGul commented on #16
Yes... 2nd Field Will Include The Correct robots.txt Syntax...
Alright. M Trying To Fix This Code...Thanks For Your Guidance...!

[2016-01-04 08:26] t1gor commented on #22
@JanPetterMG :+1:

[2016-01-11 19:57] JanPetterMG commented on #17
How to implement this?
CleanParam doesn't change anything in the way the parser works, not at all. The only thing we can do about it, is making a tool for 3rd partys. At least that's how I see it.

CleanParam is going to be supported, I'll make sure that happens. But the question is how?

- [ ] Provide a function parsing an array, removing any CleanParam duplicates, and then return it to the user?

[2016-01-11 23:46] JanPetterMG opened #47 "Stripped space causing multiple bugs"
These 4 functions has only one thing in common, the initial reading of the robots.txt file...

To re-produce the bug:
[code]
EDIT: Added getCleanParam

[2016-01-12 16:00] JanPetterMG opened #48 "Version 2.0 map"
I think it's time to feature freeze v.1.0. Every robots.txt standard is supported, and it might just need some code cleanup before it is ready for release.

Just want to share some dev notes for what to expect in version 2.0. The development haven't started yet, but soon it will. Here is the list:

- [ ] Request the HTTP headers of the provided URL, detecting any redirects
- [ ] Download the corre

[2016-01-13 15:19] JanPetterMG commented on #47
This is the source of the problem:
````$this->current_word = trim($this->current_word);```` in [line 576](https://github.com/t1gor/Robots.txt-Parser-Class/blob/master/source/robotstxtparser.php#L576)
[code]
Simply removing it is not a option, ref. [test build](https://travis-ci.org/t1gor/Robots.txt-Parser-Class/jobs/102119155)

[2016-01-14 18:09] #47 closed

[2016-01-22 00:53] JanPetterMG opened #55 "Unescaped rule or path?"
[This line](https://github.com/t1gor/Robots.txt-Parser-Class/blob/master/source/robotstxtparser.php#L859) causes some problems: ````if (preg_match('@' . $escaped . '@', $path)) {````

Either ````$rule```` or ````$path```` is not escaped. May [urlencode](http://php.net/manual/en/function.urlencode.php) or [rawurlencode](http://php.net/manual/en/function.rawurlencode.php) be the solution? or will th

[2016-01-23 16:25] #55 closed

[2016-01-31 19:53] JanPetterMG commented on #17
Closing this "Issue".
- 2 new features implemented in v0.2.
- 1 won't-fix.

[2016-01-31 19:53] #17 closed

[2016-02-01 14:14] Kanti opened #58 "Version 0.2.0 not on packagist"
Why is version 0.2.0 not visible on packagist?
https://packagist.org/packages/t1gor/robots-txt-parser

[2016-02-01 14:50] JanPetterMG commented on #58
Looks like @t1gor has to set up the "GitHub Service Hook" at Packagist.

In the meantime we have to live with Packagist's slow update detection rate :(

[2016-02-23 09:35] ranvis opened #59 "Regex meta char escape using preg_quote"
When using preg_match('@...@'), preg_quote($rule, '@') is expected to be used to escape input.
Currently one of the following warnings occurs when a path contains some meta character:

PHP Warning:  preg_match(): Compilation failed: missing ) at offset 15 in /path/to/vendor/t1gor/robots-txt-parser/source/robotstxtparser.php on line 836
PHP Warning:  preg_match(): Compilation failed: unmatched pare

[2016-02-23 09:36] ranvis opened #60 "Support of multiple User-agents in a record"
The draft http://www.robotstxt.org/norobots-rfc.txt
mentions of having multiple User-agent in a record to share rules.
Would you think it possible to support this syntax?
[code]

[2016-02-23 09:44] JanPetterMG commented on #59
I've seen it in some rare cases, but unfortunately never had the time to investigate it... This is indeed a bug.

[2016-02-23 09:52] JanPetterMG commented on #60
It should be supported already, if not, we have another bug.
I'll take look at it...

[2016-02-24 09:09] ranvis commented on #60
The code I run on c68a7a8 is:
[code]

[2016-02-24 18:45] #60 closed

[2016-02-24 19:12] JanPetterMG commented on #59
Regex is not my expertise, but could this be as simple as using an non-valid URL character instead of "@"?
All of the "@"s should already be escaped as far as I can see, but I'm clearly wrong about that... It's not my code, and I don't fully understand it either, to be honest...

[2016-02-25 10:15] ranvis commented on #59
rawurlencode()ing paths as currently do, I think, is a good way, as URL may contain any char code.
But that isn't make regex escape unnecessary as it is only URL escaping.
I just took a glance at code so I may be wrong about.
Anyway sorry about being lazy not to add failing case. Tested on e1b052c.
[code]

[2016-03-16 18:35] JanPetterMG opened #62 "Parsing performance issue"
When parsing large robots.txt files, the process can take several minutes to finish, even with 100% CPU power (1 core).
With multiple parallell processes, it may even lock your CPU at 100% for hours, if the script don't get terminated.

This is a problem in general, and is not related to any specific robots.txt file.

Example URL: http://visitstavern.no/robots.txt _(just one of many)_
4170 lines,

[2016-04-05 14:48] #48 closed

[2016-04-10 15:45] JanPetterMG commented on #59
I just took a look at the issue again, unable to fix it (for now), but here is something to continue on for the next person who tries to fix it...
[code]
I'm not sure what the problem is, but I think this is a good place to start...

[2016-04-24 08:52] LeMoussel opened #63 "Fail for rule containing $"
Fail for rule containing '$'.

To produce the bug:

[code]

[2016-04-24 13:46] JanPetterMG commented on #63
I would hold [/source/robotstxtparser.php line 844](https://github.com/t1gor/Robots.txt-Parser-Class/blob/master/source/robotstxtparser.php#L844) responsible for that one.

[code]

[2016-04-24 15:45] LeMoussel opened #64 "Fail for User-agent rule"
Fail for User-agent rule.

To produce the bug with Googlebot user agent:
[code]

[2016-04-24 16:45] JanPetterMG commented on #64
Sure about that?

If I'll turn it the other way, removing the ``== false``, and switching to ``isDisallowed`` then it does the exact same check. The only difference is the human readability.

[code]

I see no reason for ``Mozilla Firefox`` to be denied, when there is no matching user-agent, and no generic rules covering any non-listed user-agent either.

From Google's Robots.txt Specifications:

[2016-04-24 17:18] LeMoussel commented on #64
This is `Googlebot user agent`. From https://support.google.com/webmasters/answer/1061943

[2016-04-24 17:39] JanPetterMG commented on #64
Googlebot looks like this:
``Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)``
or even
``Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.96 Mobile Safari/537.36 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)``
All of them contains the word ``Googlebot``...

Are you trying to catch the requests?

[2016-04-24 18:54] JanPetterMG commented on #64
At client side (the crawler), there is no problem adding an User-agent parser, checking either it's own full user-agent string, or one or more parts, but that doesn't really make any difference, since no one (at server side) are listing any rules that eventually would match, in their robots.txt files.

That means that you can deny any crawler identifying it self as "``like Gecko``, or even ``Apple

[2016-04-24 21:52] JanPetterMG commented on #64
Actually, I this link clarifies the issue: https://support.google.com/webmasters/answer/1061943

The full User-Agent string witch are used when crawling, is not the same as used in ``robots.txt``, ``X-Robots-tag`` and ``Robots-meta-tag``.

After some research about User-agents in general, the full user-agent string from bots may often vary to force the webpage to serve different layouts and pages

[2016-04-24 22:19] SpiderBro commented on #64
User-agent matching hasn't really changed since the original spec:

http://www.robotstxt.org/orig.html

[2016-04-24 23:19] JanPetterMG commented on #64
Just want to add a few things:
Providing the version, along with the user-agent name [is supported by this library](https://github.com/t1gor/Robots.txt-Parser-Class/blob/master/source/robotstxtparser.php#L409), eg. ``googlebot/2.1``.
Same goes for tags, witch also [are supported](https://github.com/t1gor/Robots.txt-Parser-Class/blob/master/source/robotstxtparser.php#L410), eg ``googlebot-image``.

[2016-04-27 13:59] JanPetterMG commented on #64
Version ``0.2.2`` now generates an warning if the user-agent format is unsupported. It also tells what format to use.

[2016-04-27 13:59] #64 closed

[2016-05-04 07:34] t1gor commented on #58
Sorry, guys. V0.2 should be there: https://packagist.org/packages/t1gor/robots-txt-parser#0.2

I had email set up in Packagist hook rather then username.

[2016-05-04 07:35] #58 closed

[2016-07-22 00:14] szepeviktor opened #67 "Prettify function"
It would be nice to output a nice and valid robots.txt.

[2016-07-22 00:25] szepeviktor commented on #67
Something like
[code]

[2016-07-22 05:55] fte378 commented on #67
This already looks good except that there is no ordering for the length of matching and  the match-all clause.

I don't know if that's the case but possibly a parser would match "User-agent: *"  if this is not the last entry even if there is a more specific entry like "User-agent: GoogleBot".  "User-agent: *" should always be the last entry in the generated file.

The same may hold true for the pa

[2016-07-22 06:30] fte378 commented on #67
I quickly checked the Google and Yandex specs. They say that more specific paths override more general ones. However there may be other not so smart parsers out there. So the ordering has two use cases:  satisfy less smart parsers and make the file better readable for humans.

[2016-07-22 13:43] szepeviktor commented on #67
Implemented.
@fte378 Would you open a PR and solve the disbling of `$this->convert('self::prepareRegexRule');`?

[code]

[2016-07-22 14:05] fte378 commented on #67
@szepeviktor I'm only an end user of your Wordpress plugin :)  I know what a pull request might be but I don't have anything to do with this library.

[2016-07-22 14:08] szepeviktor commented on #67
@t1gor @JanPetterMG Could you add this as a new function and solve the disabling of `$this->convert('self::prepareRegexRule');`?

[2016-07-22 14:47] JanPetterMG commented on #67
I'm quite busy right now, but give me a day or two and I'll come back to this. Stay tuned.

[2016-07-22 14:59] szepeviktor commented on #67
OK!

[2016-07-22 21:00] JanPetterMG commented on #67
Just want to hear your opinion, why does the user-agents *really* have to be sorted Z-A (witch normally resulting in * as the last one)?
I know there is a lot of pros/cons here, but if parsed by this library, it shouldn't make any difference anyway. Do you plan to use this library to render an existing robots.txt and then publish it? or in other ways use the rendered result outside of this library

[2016-07-22 21:11] szepeviktor commented on #67
It is going into my plugin: https://wordpress.org/plugins/multipart-robotstxt-editor/

[2016-07-23 10:01] szepeviktor commented on #67
*Added sitemaps.

[2016-07-26 19:01] JanPetterMG opened #68 "setUserAgent is ignored"
[code]

[code]

setUserAgent is always overrided by isAllowed/isDisallowed parameter 2, witch in this case is null (unset). This is probably the easiest and most logic way to check an path, but you'll always test against the wrong user-agent, in this case \* (wildcard) witch does not have a single rule (therefore always allowed)

DON'T EVER DO THIS !!! An fix will probably require backwards-incomp

[2016-07-26 19:12] szepeviktor commented on #68
She is the 3rd *witch* of today:
![witch](http://3.bp.blogspot.com/_Z7H2HR0Ms28/TLOe-9k-6_I/AAAAAAAAAR0/F0zwKN2utlY/s1600/transportationSMALL.jpg)

Could you switch witch?

[2016-07-26 19:23] JanPetterMG opened #69 "Relative path bug"
[code]
[code]
The two tests above fails, paths allowed according to the parser, the robots.txt says otherwise...

At least the second one could also be an potential relative path, so we can't just ignore this bug either, we have to fix it...

[2016-07-27 19:13] JanPetterMG commented on #69
Also applies to:
[code]
I'm not sure why I didn't test that earlier... :confused: This is no longer an low-priority issue, but an huge and prioritized one!

[2016-07-30 02:22] JanPetterMG opened #70 "Invalid encodings are not ignored"
No errors/warnings should be generated when parsing, still I get these:
[code]

Such typos / invalid encoding names isn't uncommon when parsing the HTTP header to detect the character encoding.

I think it's a good thing trying to convert everything to UTF-8, but according to the spec, the content is expected to be UTF-8, and any invalid content (due to parsing errors, non-valid rules, or else) sh

[2016-07-30 03:00] JanPetterMG opened #71 "UTF-8 content parsed incorrectly"
The robots.txt content is always converted to UTF-8, but the ``mb_*`` functions expects whatever the user think the encoding is.

Results in valid UTF-8 robots.txt files being parsed as the wrong encoding, witch further causes loss of valid rules.

In other words, it's like Russian roulette if perfectly valid rules are parsed correctly...

[code]

[2016-07-30 03:10] JanPetterMG opened #72 "Improve the user-agent matching"
Parsing of the user's user-agent needs an overhaul.

- Verify that the format is correct
- Check for invalid characters, throw an exception if needed
- Better version number matching

[2016-07-30 22:54] JanPetterMG opened #73 "Drop support for PHP 5.4?"
Do we still need active support for PHP 5.4 and 5.5 ?
Is PHP 5.6 possible, or should we go for 5.5 to give people a little more time?

PHP 5.5 is End of life...
http://php.net/supported-versions.php

Just want to hear your opinions...

[2016-08-04 12:04] t1gor commented on #73
I'd say it's too early. What do you think?

[2016-08-06 14:03] JanPetterMG commented on #73
Personally I think it's too early for 5.5, but hey, it's "End of Life", and it doesn't even get security updates anymore. When people _finally_ decide to upgrade their servers, they also get the latest releases from this repo... That easy it is...

The reason behind this issue/question is that I've written some code where I'm unable to get 100% code testing coverage, unless using PHP 5.6. It's PHP

[2016-08-06 14:42] JanPetterMG opened #74 "Use any available encoding converter"
Currently we're using both ``mbstring`` and ``iconv`` without even requiring them in the ``composer.json``.
- [ ] Require ``mbstring`` (there's no way around).
- [ ] Drop ``iconv`` dependency (shall not be required, is optional)

The spec is expecting UTF-8, everything else is just an bonus if we can read and parse it properly.

How about requiring ``mbstring`` only , and then use whatever is avai

[2016-08-08 17:03] JanPetterMG opened #75 "Byte limit"
__Feature request:__ Limit the maximum number of bytes to parse.

Source: [Google](https://developers.google.com/webmasters/control-crawl-index/docs/robots_txt#file-format)

Source: [Yandex](https://yandex.com/support/webmaster/controlling-robot/robots-txt.xml#additional-info)

- [ ] Default limit of X bytes, eg. 512.000 bytes (500KB)
- [ ] User-defined limit override
- [ ] Make sure the limit is

[2016-08-08 17:32] JanPetterMG commented on #75
At the moment, it's possible to generate large (fake or valid) robots.txt files, with the aim to trap the robots.txt crawler, slow down the server, and even cause it to hang or crash.

It's also (depending on the setup) possible to trap the crawler in an infinite retry-loop, if the external code utilizing this library, isn't handling repeating fatal errors correctly...

Related to #62

[2016-08-08 17:36] JanPetterMG commented on #62
#75

[2016-08-10 11:42] szepeviktor commented on #67
@JanPetterMG Could you guide me to disable `$this->convert('self::prepareRegexRule');`?

[2016-08-10 14:59] JanPetterMG commented on #67
@szepeviktor sorry for the delay, I'll take a look at it

[2016-08-10 15:03] szepeviktor commented on #67
Thank you for your help.
I appreciate it.

[2016-08-10 15:41] JanPetterMG commented on #73
Anyone still requiring active PHP 5.4 support?
Can we bump to PHP 5.5 for next mayor version (v.0.3) ?
Now it's the time to scream...

[2016-08-10 17:16] JanPetterMG commented on #67
How about now?
``$parser->render();``

[2016-08-10 17:28] szepeviktor commented on #67
Oh! Thanks.
https://github.com/t1gor/Robots.txt-Parser-Class/commit/814737ccf1feb358e9beb4819e31b4b3bdc8e79d

[2016-08-10 17:53] JanPetterMG commented on #67
It's PHP 5.4 compatible too, pushed https://github.com/t1gor/Robots.txt-Parser-Class/commit/b74ad596468f4927e0de290f371eb5c27f0b9efb a few minutes later, with an build fix...

Still, there is work to do:
- [ ] Render the Host directive
- [ ] ``ucfirst`` and prettify all inline directives
- [ ] Verify that the inline directives actually are valid, and not just some random text
- [ ] Typo in the inp

[2016-08-10 17:56] szepeviktor commented on #67
ucfirst() is implented above.

[2016-08-10 18:16] JanPetterMG commented on #67
@szepeviktor I know, but that doesn't fix the inline directives.
This is what it outputs:
[code]
It should be something like:
[code]

[2016-08-10 18:24] szepeviktor commented on #67
Isn't Host stands on a separate line?
https://yandex.com/support/webmaster/controlling-robot/robots-txt.xml#host

[2016-08-10 19:04] JanPetterMG commented on #67
Rendering of the (regular) host directive now implemented. https://github.com/t1gor/Robots.txt-Parser-Class/commit/627082db6d76b1fd31890012d6a65d0e51369642
``Host: example.com``

--------------------------

I'm not sure where I saw it, but there was some robots.txt files where it was used as an "in-line" directive. It's not coming from any of the Yandex examples, Google doesn't support them, and t

[2016-08-10 19:08] szepeviktor commented on #67
Do you plan to increase coverage?
https://codeclimate.com/github/t1gor/Robots.txt-Parser-Class/source/robotstxtparser.php#clarity

[2016-08-10 19:54] szepeviktor commented on #67
@fte378 It seems it is ready to integrate into the robots.txt plugin

[2016-08-10 19:55] szepeviktor commented on #67
Reopen for todos in https://github.com/t1gor/Robots.txt-Parser-Class/issues/67#issuecomment-238948354

[2016-08-10 19:59] JanPetterMG commented on #67
There's a link on the front page, at the top of the [README.md](https://github.com/t1gor/Robots.txt-Parser-Class/blob/master/README.md) to be exact, the red box, from there it should be pretty easy to get an overview, and even view the coverage line by line...

There is a lot more bugs in this library than I've expected, so I'm not sure how much time I'm going to spend fixing things... It should b

[2016-08-10 20:02] szepeviktor commented on #67
Why reinvent the wheel?

[2016-08-10 20:11] JanPetterMG commented on #67
Yeah, why fix this library at all, when [VIPnytt/RobotsTxtParser](https://github.com/VIPnytt/RobotsTxtParser) has everything this library is missing??

I needed to handle caching, proper rendering, automatic download, proper user-agent matching, and it had to be as bug free as possible, for my spider, so that I can crawl up to 10k webpages a day without having to worry about anything...
That's som

[2016-08-10 21:01] szepeviktor commented on #67
I do not care. I've just released *this* class:
https://github.com/szepeviktor/multipart-robotstxt-editor/commit/71e0a877ddd15cda4f7e7d4ec6410ddbe4f2e791

[2016-08-10 23:04] JanPetterMG commented on #72
In addition to the above:
- White-space independent group determiner
- Throws exceptions on seriously malformed user-agents
- Tested

https://github.com/t1gor/Robots.txt-Parser-Class/commit/8f6b4e79dfd111d1295b12f874bce4d79911fe06

[2016-08-10 23:04] #72 closed

[2016-08-10 23:05] #73 closed

[2016-09-02 12:26] ogolovanov opened #76 "Allow/Disallow rules not handled correctly"
From https://yandex.com/support/webmaster/controlling-robot/robots-txt.xml?lang=ru#simultaneous

User-agent: Yandex
Allow: /
Allow: /catalog/auto
Disallow: /catalog
# Sorted robots.txt:
User-agent: Yandex
Allow: /
Disallow: /catalog
Allow: /catalog/auto

`$c = <<<ROBOTS`
`User-agent: *`
`Allow: /`
`Allow: /catalog/auto`
`Disallow: /catalog`
`ROBOTS;`

`$r = new RobotsTxtParser($c);`
`$url = 'http:

[2016-09-02 14:02] ogolovanov opened #77 "Very poor performance if isAllowed()/isDisallowed() functions"
I took average ( 50-60 allow/disallow rules ) robots.txt file and 10000 urls for test.
Running isAllowed() method for each url took 37 seconds in total of cpu time.
Sorry, but this is **very** slow.

For example, look here.
**50%(!!!)** of all cpu time spent on $this->isInlineDirective($rule) call.
Why can't we make that call during robots initialization and save 50% of cpu time by doing that?

[c

[2016-09-02 15:28] JanPetterMG commented on #77
`$this->prepareRegexRule()`:
It was done during initialization a month ago, but not anymore. See https://github.com/t1gor/Robots.txt-Parser-Class/issues/67#issuecomment-234547200.
https://github.com/t1gor/Robots.txt-Parser-Class/commit/814737ccf1feb358e9beb4819e31b4b3bdc8e79d#diff-a3addb78c633d1984e69a06f8ece166cL325

`$this->checkRuleSwitch()`:
Then this repo has to be rewritten from the ground a

[2016-09-04 17:12] JanPetterMG commented on #77
Btw, if you don't care about the rendering feature, version 0.2.2 should save you 30% of the cpu time (according to your calculations).

https://github.com/t1gor/Robots.txt-Parser-Class/releases/tag/v0.2.2

[2017-01-01 09:59] LeMoussel opened #78 "Rules not handled correctly"
[code]
**Result :**
Googlebot Allow: /
$rules is empty and log is "Rules not found for the given User-Agent"

**Expected result:**
Googlebot Disallow: /

[2017-01-01 19:07] JanPetterMG commented on #78
See #68

[2017-01-02 18:26] LeMoussel opened #79 "Rules aren't loaded"
[code]
**Result :**
Empty array.
No Logs.

**Expected result:**
Some Crawl-delay & Disallow rukes.

[2017-01-05 17:47] LeMoussel commented on #76
For Google this is different :

https://developers.google.com/webmasters/control-crawl-index/docs/robots_txt?hl=en#google-supported-non-group-member-records

[2017-04-05 17:35] bopoda commented on #63
Just note:
if we check url "http://mysite.com/deny_all/"
according to https://www.google.com/webmasters/tools/robots-testing-tool should be:

- Disallow: *deny_all/$ http://joxi.ru/l2Znx3bIwkWp62 (isAllowed - false)
- Disallow: /deny_all/$ http://joxi.ru/Drl7BE6CvnOpNA  (isAllowed - false)
- Disallow: deny_all/$ http://joxi.ru/n2YRXYbsoV6LjA  (isAllowed - true).

I am glad to say that here https:/

[2017-07-21 13:31] t1gor commented on #70
Could you please provide a spec link for this?

[2017-07-21 13:52] JanPetterMG commented on #70
Sorry about the missing spec source, here it is:
https://developers.google.com/search/reference/robots_txt#file-format

[2017-12-05 09:07] t1gor commented on #67
Seems like you've just moved most of the code and the idea to your own library now :( I'm not really sure how to beahve in this situation ...

Taking a closer look at [your lib](https://github.com/VIPnytt/RobotsTxtParser), I have several suggestions. Maybe we join the efforts and make a better version of the parser together?

[2017-12-08 21:00] JanPetterMG commented on #67
@t1gor You're using the MIT license, witch allows me to do anything really. I've moved the idea, but 95% of the code is unique. The only reasons behind this decision, was too many bugs, lots of missing features, and that the backwards compatibility would be really hard to maintain...

Anyways, I'm happy to join forces again, my library is rather over-engineered and could be simplified.
I've includ

[2018-06-16 14:59] #63 closed

[2018-07-03 03:05] adakou commented on #68
public function isDisallowed($url, $userAgent = null)
    {
        $this->setUserAgent($userAgent);　← Is not this a cause?
        $url = $this->encode_url($url);
        return $this->checkRules(self::DIRECTIVE_DISALLOW, $this->getPath($url), $this->userAgent_match);
    }

[2018-07-20 14:01] JanPetterMG commented on #68
I don't know why I didn't think about it previously...

Do you mind submitting an PR?

[2018-07-21 20:39] JanPetterMG opened #82 "Possible to unintentionally override method setUserAgent()"
Continuation from https://github.com/t1gor/Robots.txt-Parser-Class/issues/68#issuecomment-406609763

`$parser->setUserAgent($string)` is no longer ignored, but every time an user-agent is specified (not null) in one of the following methods, it permanently overrides the user-agent value previously set.
- `$parser->getDelay(...)`
- `$parser->getRules(...)`
- `$parser->isAllowed(...)`
- `$parser->is

[2018-07-21 20:40] JanPetterMG commented on #68
Closing this issue, see #82 for continuation...

[2018-07-21 20:40] #68 closed

[2018-07-21 20:50] JanPetterMG commented on #79
Not sure when this got fixed, but it doesn't seem to be a problem anymore.
What version are you using?

Output:

[code]

[2018-07-21 20:50] #79 closed

[2018-07-21 20:53] JanPetterMG commented on #78
Output
[code]

[2018-07-21 20:53] #78 closed

[2019-02-20 15:50] ynizon opened #83 "Parser doesnt work on windows"
Hi, thank you for your work. I have detect a bug on windows platform.
You can't detect new line in windows, because new line is "\r\n" and not only "\r" (like PHP_EOL).
I fix the newLine function to work on both systems. Can you add it to your release please ?

protected function newLine()
    {
		$r = in_array(
			"\n", array(
				$this->current_char,
				$this->current_word
			)
		);
		if (!$r){

[2019-04-10 16:19] genericAnomaly commented on #83
Can confirm I was going a bit mad trying to use the parser on a Windows build of Xampp, patched this in and it fixed everything. Merci beaucoup dude :)

[2019-04-29 00:56] imsheng opened #84 "parse bug"
[code]

`$parser->isAllowed('/')`   is  true ?

[2019-04-29 01:12] imsheng commented on #79
I also encountered the same problem。
on windows 10
php 7.2
version: 0.2.4

[2019-04-29 01:12] imsheng commented on #84
https://github.com/t1gor/Robots.txt-Parser-Class/issues/79

[2019-05-09 13:00] ynizon commented on #83
Sorry, not working.Try my fix.

[2019-05-09 13:02] ynizon commented on #83
and add a namespace like this at the beginning (for use your lib with laravel):
namespace Tigor;

[2020-12-09 14:16] kieranheadley opened #87 "Parse Issue"
[code]

`$parser->isDisallowed('/collections/belts')`  - TRUE

Expected result would be FALSE?

[2021-05-14 12:56] kieranheadley commented on #87
It looks to be that the *+* seems to be causing false positives

[2021-10-19 16:02] t1gor commented on #83
Hey, guys. I've re-worked the parser a lot lately, but I guess new lines might still be an issue. Will take a look soon.

P.S. Namespaces are already there, but not released to packagist. You can take a look on master branch.

[2021-10-29 10:15] #16 closed, assigned to t1gor

[2021-12-07 07:09] t1gor commented on #62
Sad to hear that :) But thanks any way

[2022-01-06 23:54] JanPetterMG commented on #62
Give me a week or two, and I'll implement this in production.
Sorry for dragging this out in time...

[2022-01-07 01:52] JanPetterMG opened #93 "[BUG] Allowed in, while the only rule specifies Disallow: /"
[code]

Output: `bool(true)`
Expected: `bool(false)`

Quote

Source: https://developers.google.com/search/docs/advanced/robots/robots_txt#syntax

[2022-01-07 02:10] JanPetterMG commented on #62
Doing some quick testing, and honestly, I still don't know, if I **ever** can trust this library, in production... Found an pretty big, fundamental and obvious bug. #93

Literally in the first execution of this library, in many years... Now I don't even want to reconsider testing this library further, until it's fixed, and the test coverage is raised significantly. Sorry!